<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/09171b7a-119e-4f74-bb84-315eda060d31/resourceGroups/BlazorApp220240207111330ResourceGroup/providers/Microsoft.ContainerRegistry/registries/BlazorApp220240207111330</ResourceId>
    <ResourceName>BlazorApp220240207111330</ResourceName>
    <ResourceGroup>BlazorApp220240207111330ResourceGroup</ResourceGroup>
    <Subscription>Azure Pass - スポンサー プラン</Subscription>
    <RegistryUrl>blazorapp220240207111330.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>4e88dbc6-2cb7-484a-a595-38810711ff06</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>